<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>If this page shows up, you've got it!</title>
</head>
<body>
  <p> I really hope this works for you. What do you see?</p>
  <h1><%= @original_info %></h1>
  

</body>

</html>